$color1: #fff;
$color2: #242424;
$color3: #ec5f5f;
$color4: #965ac7;
$color5: #22c730;

$measure1: 50%;
$measure2: 800px;
$measure3: 500px;

$font1: 'Comfortaa', cursive;
$font2: 'VALORANT', sans-serif;

$size1: 20px;
$size2: 15px;

$algn1: justify;
$algn2: right;